In [17]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn import linear_model
from sklearn import utils

In [18]:
df = pd.read_excel("/Users/saurabh/Documents/PythonData/table_8_offenses_known_to_law_enforcement_california_by_city_2013.xls", encoding = "ISO-8859-1", skiprows=4)

In [19]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson
0,Adelanto,31165.0,198.0,2.0,NaN,15.0,52.0,129.0,886.0,381.0,372.0,133.0,17.0
1,Agoura Hills,20762.0,19.0,0.0,NaN,2.0,10.0,7.0,306.0,109.0,185.0,12.0,7.0
2,Alameda,76206.0,158.0,0.0,NaN,10.0,85.0,63.0,1902.0,287.0,1285.0,330.0,17.0
3,Albany,19104.0,29.0,0.0,NaN,1.0,24.0,4.0,557.0,94.0,388.0,75.0,7.0
4,Alhambra,84710.0,163.0,1.0,NaN,9.0,81.0,72.0,1774.0,344.0,1196.0,234.0,7.0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464 entries, 0 to 463
Data columns (total 13 columns):
City                                    464 non-null object
Population                              462 non-null float64
Violent
crime                           462 non-null float64
Murder and
nonnegligent
manslaughter    462 non-null float64
Rape
(revised
definition)1              0 non-null float64
Rape
(legacy
definition)2               462 non-null float64
Robbery                                 462 non-null float64
Aggravated
assault                      462 non-null float64
Property
crime                          462 non-null float64
Burglary                                462 non-null float64
Larceny-
theft                          462 non-null float64
Motor
vehicle
theft                     462 non-null float64
Arson                                   462 non-null float64
dtypes: float64(12), object(1)
memory usage: 47.2+ KB

In [21]:
df.fillna(df.mean(),inplace=True)

In [22]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson
0,Adelanto,31165.0,198.0,2.0,NaN,15.0,52.0,129.0,886.0,381.0,372.0,133.0,17.0
1,Agoura Hills,20762.0,19.0,0.0,NaN,2.0,10.0,7.0,306.0,109.0,185.0,12.0,7.0
2,Alameda,76206.0,158.0,0.0,NaN,10.0,85.0,63.0,1902.0,287.0,1285.0,330.0,17.0
3,Albany,19104.0,29.0,0.0,NaN,1.0,24.0,4.0,557.0,94.0,388.0,75.0,7.0
4,Alhambra,84710.0,163.0,1.0,NaN,9.0,81.0,72.0,1774.0,344.0,1196.0,234.0,7.0

In [23]:
df.columns

Index(['City', 'Population', 'Violent\ncrime',
       'Murder and\nnonnegligent\nmanslaughter',
       'Rape\n(revised\ndefinition)1', 'Rape\n(legacy\ndefinition)2',
       'Robbery', 'Aggravated\nassault', 'Property\ncrime', 'Burglary',
       'Larceny-\ntheft', 'Motor\nvehicle\ntheft', 'Arson'],
      dtype='object')

In [24]:
df = df.drop(['Rape\n(revised\ndefinition)1'], axis=1)

In [25]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson
0,Adelanto,31165.0,198.0,2.0,15.0,52.0,129.0,886.0,381.0,372.0,133.0,17.0
1,Agoura Hills,20762.0,19.0,0.0,2.0,10.0,7.0,306.0,109.0,185.0,12.0,7.0
2,Alameda,76206.0,158.0,0.0,10.0,85.0,63.0,1902.0,287.0,1285.0,330.0,17.0
3,Albany,19104.0,29.0,0.0,1.0,24.0,4.0,557.0,94.0,388.0,75.0,7.0
4,Alhambra,84710.0,163.0,1.0,9.0,81.0,72.0,1774.0,344.0,1196.0,234.0,7.0

In [26]:
#df['Population'] = df['Population'].astype(np.int64)

In [27]:
df.loc[df['Murder and\nnonnegligent\nmanslaughter']>0,'Murder']=1
df.loc[df['Murder and\nnonnegligent\nmanslaughter']==0,'Murder']=0

In [28]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson,Murder
0,Adelanto,31165.0,198.0,2.0,15.0,52.0,129.0,886.0,381.0,372.0,133.0,17.0,1.0
1,Agoura Hills,20762.0,19.0,0.0,2.0,10.0,7.0,306.0,109.0,185.0,12.0,7.0,0.0
2,Alameda,76206.0,158.0,0.0,10.0,85.0,63.0,1902.0,287.0,1285.0,330.0,17.0,0.0
3,Albany,19104.0,29.0,0.0,1.0,24.0,4.0,557.0,94.0,388.0,75.0,7.0,0.0
4,Alhambra,84710.0,163.0,1.0,9.0,81.0,72.0,1774.0,344.0,1196.0,234.0,7.0,1.0

In [60]:
from sklearn.model_selection import train_test_split
X = df.drop(['Murder','City'],1)
y = df['Murder']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [63]:
#scaled the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns)

In [64]:
X_test_scaled = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns)

### Vanilla logistic regression

In [65]:
lr = LogisticRegression(C=1e9)

# Fit the model.
fit = lr.fit(X_train_scaled, y_train)


# Display.
print('Coefficients')
print(fit.coef_)
print(fit.intercept_)
pred_y_sklearn = lr.predict(X_train_scaled)

#print('\n Accuracy by admission status')
#print(pd.crosstab(pred_y_sklearn, training_scores_encoded))

print('\n Percentage accuracy')
print(lr.score(X_train_scaled, y_train))

Coefficients
[[  0.38846344   1.87214089 130.92394596   0.23709861   0.15583723
    0.73056342  -0.80339553   0.47143409  -1.8725201    2.08066474
   -0.434571  ]]
[35.72821574]

 Percentage accuracy
1.0

In [66]:
print(lr.score(X_test_scaled, y_test))

1.0

### Ridge logistic regression

In [68]:
clf1 = LogisticRegression(penalty='l2')
clf1.fit(X_train_scaled, y_train)
print('\nAccuracy:')
print(clf1.score(X_train_scaled, y_train))
print(clf1.score(X_test_scaled, y_test))

Accuracy:
0.8734567901234568
0.8928571428571429

In [71]:
clf1.coef_

array([[ 0.25834576,  0.72789379,  5.9545708 ,  0.78030827,  0.30072538,
         1.02175436,  0.02525128,  0.73560445, -0.45350217,  1.10529741,
        -0.08223831]])

### Lasso logistic regression

In [69]:
clf2 = LogisticRegression(penalty='l1')
clf2.fit(X_train_scaled, y_train)
print('\nAccuracy:')
print(clf2.score(X_train_scaled, y_train))
print(clf2.score(X_test_scaled, y_test))

Accuracy:
1.0
1.0

In [70]:
clf2.coef_

array([[4.16171230e-01, 0.00000000e+00, 3.22764574e+01, 2.65599161e-01,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.57007355e-02,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

The above analysis shows that lasso regression worked better than ridge also losgistic regression worked better than any other regression.
There are some stregths as well as limitations of regression as modeling approach
- Lasso can be costly some times as it removes columns which may leads to loss of information in some cases while in other cases that may be useful
- Ridge does not remove columns so that can be useful in some cases as you will not be loosing much of data but may be not good if that was least important data